[Unit]
Description = guniron daemon for stackoversearch
After = network.target

[Service]
PermissionsStartOnly = true
User = bfg
Group = bfg
WorkingDirectory = /home/bfg/stack_over_search
ExecStart = /bin/bash -c 'cd ~/stack_over_search/stackoversearch && source ~/stack_over_search/virtualenv/bin/activate && gunicorn stack_oversearch:wsgi --bind localhost:8081 --workers 4 
PrivateTmp = true

[Install]
WantedBy = multi-user.target