[renewer_settings]
ws_ip = 127.0.0.1
ws_port = 8081
work_timeout = 60
time_between_request = 10
msg_appear_time = 15

[logs]
level = INFO
path = /var/log/stackoversearch

[search_settings]
cache_timeout = 60

[redis]
ip = 127.0.0.1
port = 6379

[mysql]
ip = 127.0.0.1
user = {{ db_user }}
password = {{ db_password }}
db = {{ db_name }}
